<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookMapper">
	<select id="getBookpart" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
		select * from book_part where GRADE_ID = #{GRADE_ID} and CATEGORY_ID = #{CATEGORY_ID}
    </select>
    
    <select id="getBookpartById" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
		select * from book_part where ID = #{Id}
    </select>
    
    <select id="getBookchapterByPartId" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
		select * from book_chapter where PART_ID = #{PART_ID}
    </select>  
    
    <select id="getBookResCategory" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
		select * from book_resource_category where IS_VALID = 1 order by LEVEL
    </select>  
    
    <select id="getBookchapterById" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
		select * from book_chapter where ID = #{ID}
    </select>  
    
    <select id="getBookResList" resultType="java.util.HashMap">
  	select  a.id, a.status,  a.name, a.url, a.created_time as strCreateTime
    from  courseware a
    where a.class_id=#{class_id} and a.courseware_category_id = #{courseware_category_id}
    <if test="name != null  and  name !='' " >
    		and a.name  LIKE CONCAT(CONCAT('%', #{name}),'%')
    </if>
    <if test="startTime != null  and  startTime !=''" >
    		and a.created_time > #{startTime} 
    </if>
        <if test="endTime != null  and  endTime !=''" >
    <![CDATA[	and a.created_time < #{endTime} ]]>
    </if>
       <if test="gradeId != null" >
    		and a.grade_id = #{gradeId}
    </if>
    <if test="status != null" >
    		and a.status = #{status}
    </if>
    <if test="sort != null" >
      order by ${sort} ${order}
    </if>
  </select>
  
   <select id="getBookResById" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
		select * from courseware where id = #{id}
   </select>
    
  <select id="getBookResListByIds" resultType="java.util.HashMap">
   	select * from courseware where id in ( ${ids} )
  </select>
  
   <select id="getPermBookCategory" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
       SELECT  DISTINCT cc.id,cc.name FROM courseware_category cc INNER JOIN book_part bp ON cc.id = bp.CATEGORY_ID
       WHERE  bp.GRADE_ID = #{GRADE_ID}
   </select>
   
   <select id="getPermBookPart" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
       SELECT * from book_part where GRADE_ID = #{GRADE_ID} and CATEGORY_ID = #{CATEGORY_ID}
   </select>
   
   <select id="getBookchapterByPartIdAndPid" resultType="java.util.HashMap" parameterType="java.util.HashMap"> 
		select * from book_chapter where PART_ID = #{PART_ID} and PID = #{PID}
   </select>  
   
   <select id="getBookResByPartIdAndCategoryId" resultType="java.util.HashMap">
  	select id,name,url,created_time
    from  courseware
    where class_id=#{partId} and courseware_category_id = #{categoryId} order by id desc
   </select>
</mapper>